@import url(card-styles.css);

:root {
  /*   primary */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  /*   secondary */
  --main-dark-blue: hsl(217, 54%, 11%);
  --card-dark-blue: hsl(216, 50%, 16%);
  --line-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;
}

body{
  color: var(--soft-blue);
  font-weight: lighter;
}

.attribution {
  font-size: 1.1em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
